*
{
  margin: 0px;
  padding: 0px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Menünüzün arkaplan rengi */
  z-index: 1000; /* Diğer elementlerin üzerinde kalması için */
  transition: opacity 0.3s ease; /* Opaklık geçiş efekti */
}
.navbar.hidden {
  opacity: 0; /* Görünürlüğü sıfıra düşürerek menünün yavaşça kaybolmasını sağlar */
}
.menu_a
{
  font-family: "Montserrat", sans-serif;
}
.menu_baslik
{
  font-family: "Lora", serif;
  font-style: normal;
  letter-spacing: 5px;
  font-size: 25px;
}



.custom-search-input {
  border: none;
  border-bottom: 2px solid black; /* Sadece alt çizgi */
  border-radius: 0;
  padding-right: 30px;
  width: 200px;
  transition: width 0.3s ease;
  font-size: 16px;
}

.custom-search-input:focus {
  box-shadow: none;
  border-color: black; /* Odaklandığında alt çizgi rengini değiştirme */
  width: 300px; /* Odaklandığında genişliği artırma */
}

.custom-search-input::placeholder {
  color: #6c757d; /* Placeholder rengi */
}

.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px; /* Input alanının sağ iç kısmına yerleştirme */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button i {
  color: black; /* İkon rengi */
}

.search-button:focus {
  outline: none; /* Odaklandığında varsayılan odak çerçevesini kaldırma */
}

.scrollable-list {
  max-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: max-width 0.3s ease, max-height 0.3s ease;
  display: none; /* Başlangıçta gizli olacak */
}
.list-group-item {
  cursor: pointer;
  width: 285px;
  transition: max-width 0.3s ease;
  overflow: hidden;
}
.list-group-item-empty {
  cursor: pointer;
  width: 296px;
  pointer-events: none;
  text-decoration: none; /* Gerekirse tıklanabilir görünümü kaldır */
  color: inherit; /* Gerekirse link rengini kalıtım al */
}
.list-group-item.expanded {
  max-width: 900px; /* Genişlediğinde tam genişlik */
  opacity: 1; /* Görünür hale getir */
}
.empty-message {
  display: none; /* Boş liste durumunda mesajı gizle */
}
.list-group-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list-group-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-outline-dark {
  border: none; /* Kenarlık kaldırma */
  background-color: transparent !important; /* Arkaplan rengini şeffaf yap */
  color: #000 !important; /* Metin rengini siyah yap */
}
.btn-outline-dark:focus, .btn-outline-dark:active {
  box-shadow: none !important; /* Odaklandığında ve tıklandığında gölge efekti kaldır */
  outline: none !important; /* Odaklandığında mavi çerçeveyi kaldır */
}

.custom-icon {
  font-size: 30px; /* İkonun boyutunu istediğiniz piksel cinsinden belirleyin */
  vertical-align: middle; /* Opsiyonel: İkonu diğer içeriklerle dikey olarak hizalayabilirsiniz */
}

.cart-button {
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent !important; /* Arkaplan rengini şeffaf yap */
}
.cart-icon {
  font-size: 24px;
  vertical-align: middle;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #000; /* İstenilen renk veya renk kodunu buraya ekleyin */
  box-shadow: none; /* Gölgelendirme efektini kaldırabilirsiniz */
}
.iletisim_input
{
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #000;
}
.iletisim_label
{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size:medium;
  color: #000;
  margin-top: 15px;
}
.btn 
{
  border-radius: 0px;
  max-width: 640px;
  height: 50px;
}
.input-error
{
  border-bottom: 2px solid red;
}
.bottom-line {
  height: 2px;
  background-color: black; /* Varsayılan siyah renk */
  transition: background-color 0.3s;
  margin-top: -2px; /* Input alanıyla arasındaki boşluğu ayarlar */
}

.iletisim_input:focus + .bottom-line {
  background-color: red; /* Kırmızı renk */
}
.input-success {
  background-color: black; /* Input dolu iken siyah renk */
}
.iletisim_p
{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size:small;
  color: #000;
  margin-top: 50px;
}
.iletisim_p1
{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size:small;
  color: #000;
  margin-top: -15px;
}
.iletisim_h1_hizmet
{
  margin-top: 60px;
  font-weight: normal;
  font-size:large;
}
.iletisim_p2
{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size:small;
  color: #000;
  margin-top: 5px;
}
.iletisim_p3
{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size:small;
  color: #000;
  margin-top: 35px;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}
.footer a {
  color: #f8f9fa;
  text-decoration: none;
}
.footer a:hover {
  color: #adb5bd;
  text-decoration: underline;
}
.footer .social-icons a {
  margin: 0 10px;
  font-size: 20px;
}